## Exercici 1
**Descarrega el dataset adjunt de dades oficials de la UEFA i selecciona un atribut del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.**

Un valor P < o = 0,05 es considera estadísticament significatiu. Denota una forta evidència contra la hipòtesi nul·la, ja que hi ha menys d'un 5% de probabilitat que la nul·la sigui correcta. Per tant, rebutgem la hipòtesi nul·la i acceptem la hipòtesi alternativa.

Però si el valor P és inferior al vostre llindar de significació, tot i que es pot rebutjar la hipòtesi nul·la, no vol dir que hi hagi un 95% de probabilitat que la hipòtesi alternativa sigui certa. 

Un valor P > 0,05 no és estadísticament significatiu. Denota una forta evidència que la hipòtesi nul·la és certa. Així, conservem la hipòtesi nul·la i rebutgem la hipòtesi alternativa. No podem acceptar la hipòtesi nul·la; només podem rebutjar-lo o no rebutjar-lo.

In [2]:
import pandas as pd
import warnings

In [3]:
from sklearn import svm
from sklearn import linear_model

In [4]:
df = pd.read_csv("Lligues europees UEFA.csv", sep = ";")
df.head()

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,77,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,83,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbapp� - 25,Keylor Navas

In [5]:
Scorer = df["Top Team Scorer"].str.split('-', expand=True)
Scorer.head()

                     0    1
0     Kevin De Bruyne    15
1       Mohamed Salah    22
2       Karim Benzema    27
3  Robert Lewandowski    35
4       Kylian Mbapp�    25

In [6]:
df1 = pd.concat([df, Scorer], axis=1)
df1.head()

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,0,1
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson,Kevin De Bruyne,15
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson,Mohamed Salah,22
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois,Karim Benzema,27
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer,Robert Lewandowski,35
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbapp� - 25,Keylor Navas,Kylian Mbapp�,25

In [7]:
df1.columns

Index([             'Rk',           'Squad',         'Country',
                  'LgRk',              'MP',               'W',
                     'D',               'L',              'GF',
                    'GA',              'GD',             'Pts',
                 'Pts/G',              'xG',             'xGA',
                   'xGD',          'xGD/90',          'Last 5',
            'Attendance', 'Top Team Scorer',      'Goalkeeper',
                       0,                 1],
      dtype='object')

In [8]:
df1.drop(['Top Team Scorer'], axis=1)

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Goalkeeper,0,1
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Ederson,Kevin De Bruyne,15
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Alisson,Mohamed Salah,22
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Thibaut Courtois,Karim Benzema,27
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Manuel Neuer,Robert Lewandowski,35
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Keylor Navas,Kylian Mbapp�,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,Bordeaux,FRA,20,37,5,13,19,48,89,...,0.76,41.3,68.5,-27.2,-0.73,D L L L D,22083,Beno�t Costil,Hwang Ui jo,11
94,95,Venezia,ITA,20,37,6,8,23,34,69,...,0.70,35.4,70.5,-35.1,-0.95,L L L W D,6705,Sergio Romero,Thomas Henry,9
95,96,Watford,ENG,19,37,6,5,26,33,75,...,0.62,37.8,64.1,-26.3,-0.71,L L L D L,20614,Ben Foster,Emmanuel Dennis,10
96,97,Norwich City,ENG,20,37,5,7,25,23,79,...,0.59,33.0,73.3,-40.4,-1.09,L L L L D,26826,Tim Krul,Teemu Pukki,11
97,98,Greuther F�rth,GER,18,34,3,9,22,28,82,...,0.53,30.7,60.3,-29.6,-0.87,D L D L L,7672,Sascha Burchert,Branimir Hrgota,9

In [9]:
df1.rename({1: 'Scorer'}, axis=1, inplace=True)

In [10]:
df1.rename({0: 'Top Team'}, axis=1, inplace=True)

In [11]:
df1.head()

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Top Team,Scorer
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson,Kevin De Bruyne,15
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson,Mohamed Salah,22
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois,Karim Benzema,27
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer,Robert Lewandowski,35
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbapp� - 25,Keylor Navas,Kylian Mbapp�,25

In [12]:
df1.describe()

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [13]:
import scipy.stats as stats

In [14]:
df1.columns

Index(['Rk', 'Squad', 'Country', 'LgRk', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD',
       'Pts', 'Pts/G', 'xG', 'xGA', 'xGD', 'xGD/90', 'Last 5', 'Attendance',
       'Top Team Scorer', 'Goalkeeper', 'Top Team', 'Scorer'],
      dtype='object')

In [15]:
print(df1['Scorer'].dtype)

object

In [16]:
df1['Scorer'] = pd.to_numeric(df1['Scorer'], downcast="float")

In [17]:
# busquem el promig dels golejadors dels equips
df1['Scorer'].mean()

12.591836929321289

In [18]:
stats.ttest_1samp(a=df1['Scorer'], popmean=12.5918)

Ttest_1sampResult(statistic=6.629537908187117e-05, pvalue=0.9999472400927265)

*com que pvalue=0.99 és major que 0,05 (alpha=5% grau de significancia) però no s'allunya tant podem dir que els resultat de la mostra sobre els màxims golejadors dels equips no és significativa, i per tant no podem refusar la Ho*

## Exercici 2
**Amb el mateix dataset selecciona dos altres atributs del conjunt de dades. Calcula els p-valors i digues si rebutgen la hipòtesi nul·la agafant un alfa de 5%.**

In [19]:
# Agafem les dades de la columna de Gols afavor 'gf', però ens inventarem un valor nosaltres tenim en compte la ignorància sobre les lligues de futbol :)
df1['GF'].mean()

50.87755102040816

In [37]:
#sabent que el valor promig és de 50 gols a favor durant la lliga, m'invento el valor del que considerem com a normal, possant com a 80 els gols a favor que haurien de tindre
stats.ttest_1samp(a=df1['GF'], popmean=80)

Ttest_1sampResult(statistic=-17.903418143205947, pvalue=1.6537980856285655e-32)

*el valor ha sortit bastant baix, 0,0000000000000000000000000000000165 això significa que rebutjem la hipòtesis nul.la i acceptem la alternativa*

In [32]:
# agafem la mostra de empats (D)
df1['D'].mean()

9.408163265306122

In [35]:
stats.ttest_1samp(a=df1['D'], popmean=37)

Ttest_1sampResult(statistic=-94.07832212765233, pvalue=4.074806333328531e-97)

*está dins el 5% per tant podem dir que hi han evidències que rebutjem la hipòtesis nul.la, acceptant la alternativa.*

## Exercici 3
**Continua amb el conjunt de dades adjunt i selecciona tres atributs del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.**

In [38]:
# Prostats.ttest_1samp(a=df1['GD'], popmean=6)vem amb la diferència de gols
df1['GD'].mean()

0.0

In [39]:
df1['GD'].unique()

array([ 72,  65,  49,  60,  35,  40,  33,  32,  42,  22,  25,  24,  21,
        11,  19,  15,   6,   4,  14,   9,  13,  12,  18,   1,   3,   8,
         7,   0,  -3,   5,  -2,  -7,  -4,  -6, -12,   2, -11, -14,  -1,
       -21, -10,  -9, -17, -13, -20, -16, -18, -27, -29, -30, -34, -28,
       -38, -33, -35, -41, -26, -32, -42, -56, -54], dtype=int64)

In [42]:
#invento el valor que considerem normal, tenint en compte la diversitat de resultats
stats.ttest_1samp(a=df1['GD'], popmean=6)

Ttest_1sampResult(statistic=-2.241234687902286, pvalue=0.02729075975074151)

*p valour és més gran que 0.05, per tan podem dir que no és significatiu, i que probablament la Ho sigui certa.

In [43]:
# partits jugats, tot i que la majoria tindran mès o menys els mateixos
df1['MP'].mean()

36.30612244897959

In [44]:
stats.ttest_1samp(a=df1['MP'], popmean=32)

Ttest_1sampResult(statistic=36.99131967510014, pvalue=5.397070283232512e-59)

*P value menor que 0.05, per tant podem dir que refusem la ho i acceptem la alternativa*

In [45]:
# partits guanyats (w)
df1['W'].mean()

13.448979591836734

In [46]:
# posem el valor dels partits guanyants pel campió
stats.ttest_1samp(a=df1['W'], popmean=28)

Ttest_1sampResult(statistic=-25.062795129117035, pvalue=3.6796278380317066e-44)

*veiem que és un valor molt petit, per tant rebutjem la Ho i acceptem la Ha